<!-- <h1>You're in default components</h1>
<h1 style="color: red;">Style Binding with CSS</h1>
<h1 [style.color]="'orange'">Style Binding Example</h1>
<h1 [style.color]="'#ff0000'">Style Binding Example Color Code</h1>
<h1 [style.color]="colorName">Style Binding Example2 Data come fromTS file</h1>
<h1 [style.color]="error?'red':'yellow'">Conditional Binding Example3 Data come from
TS file</h1> -->
 <div id="stylebinding">
   <h1><b><i>Students Resume</i></b></h1><br>
<div class="mb-3">
  <label [style.color]="'red'" for="formFile" class="form-label">Student 1 </label>
  <input [style.color]="'violet'" class="form-control" type="file" id="formFile">
</div><br>
<div class="mb-3">
  <label [style.color]="'red'" for="formFileMultiple" class="form-label">Student 2 </label>
  <input [style.color]="'violet'" class="form-control" type="file" id="formFile">
</div><br>
<div class="mb-3">
  <label [style.color]="error?'red':'yellow'" for="formFileDisabled" class="form-label">Student 3 </label>
  <input [style.color]="'violet'" class="form-control" type="file" id="formFile">
</div><br>
<div class="mb-3">
  <label [style.color]="'red'" for="formFileSm" class="form-label">Student 4 </label>
  <input [style.color]="'violet'" class="form-control" type="file" id="formFile">
</div><br>
<div>
  <label [style.color]="'red'" for="formFileLg" class="form-label">Student 5 </label>
  <input [style.color]="'violet'" class="form-control" type="file" id="formFile">
</div> 
</div><br>